<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>665566344654-6h43s71gj4e37l39o1i0q2qpkmm8t460.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.665566344654-6h43s71gj4e37l39o1i0q2qpkmm8t460</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>665566344654-a0cjuijasq8bq8h9j98tfmos2i0h6h7b.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyDbkLVyM3xXgiKv4ZCGep7ta5ZMrp14pYE</string>
		<key>GCM_SENDER_ID</key>
		<string>665566344654</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.ingjeanpaulrojas.payflowrn</string>
		<key>PROJECT_ID</key>
		<string>app-03-library</string>
		<key>STORAGE_BUCKET</key>
		<string>app-03-library.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:665566344654:ios:793b06ef01d44903d9279f</string>
		<key>DATABASE_URL</key>
		<string>https://app-03-library-default-rtdb.firebaseio.com</string>
	</dict>
</plist>